$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// navigation_index
.explore{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
    height: 285px;
        &__firstline{
            font-size: 1.5em;
            padding: 40px 75px 5px 65px;
            margin: 0;
        }
        &__secondeline{
            color: #898989;
            font-size: 1.1em;
            font-weight: normal;
            padding: 5px 5px 5px 10px;
            margin: 0;
        }
        &__btn{
            display: flex;
            justify-content: center;
            margin: 10px auto;
            height: auto;
        }    
        &__btn--restaurant{
            border-radius: 35px 35px;
            background: linear-gradient($color-secondary, $color-primary);
            text-decoration: none;
            color: white;
            margin: 17px 10px;
            width: 200px;
        }    
}